/* You can add global styles to this file, and also import other style files */
body {
  background-color: var(--surface-50);
}

.--alarm {
  background-color: var(--red-500);
}

.--warning {
  background-color: var(--orange-500);
}
