<p-card>
  <ng-template pTemplate="header">
    <h4>
      <app-alarm-indicator
        [hasAlarm]="exhauster.hasAlarm"
        [hasWarning]="exhauster.hasWarning"
      ></app-alarm-indicator>
      {{ "Эксгаустер №" + exhauster.name }}
    </h4>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-chevron-right"
      [routerLink]="['/exhausters/' + exhauster.name]"
    ></button>
  </ng-template>
  <section>
    <p-accordion [multiple]="true">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <h4>Подшипники</h4>
        </ng-template>
        <p-accordion [multiple]="true">
          <p-accordionTab *ngFor="let bearing of exhauster.bearings">
            <ng-template pTemplate="header">
              <h4>
                <app-alarm-indicator
                  [hasAlarm]="bearing.hasAlarm"
                  [hasWarning]="bearing.hasWarning"
                ></app-alarm-indicator>
                Подшипник №
                {{ bearing.name }}
              </h4>
            </ng-template>
            <p *ngFor="let sensor of bearing.params">
              {{ sensor.name }}: <b>{{ sensor.value | number : "1.2-2" }}</b>
            </p>
          </p-accordionTab>
        </p-accordion>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <h4>Другие системы</h4>
        </ng-template>
        <p *ngFor="let sensor of exhauster.aux_items">
          {{ sensor.name }}: <b>{{ sensor.value | number : "1.2-2" }}</b>
        </p>
      </p-accordionTab>
    </p-accordion>
  </section>
</p-card>
